@model online_test.Models.User_Exam_Answer

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}

<h2>Details</h2>

<div>
    <h4>User_Exam_Answer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Answer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Answer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Marks)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Marks)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Canditate_info.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Canditate_info.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Exam_Schedule.Exam_title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Exam_Schedule.Exam_title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Question_bank.Question)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Question_bank.Question)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
