@model online_test.Models.work_dtl_tbl

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}

<h2>Details</h2>

<div>
    <h4>work_dtl_tbl</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Company_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Company_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Job_title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Job_title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Start_year)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Start_year)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.End_year)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.End_year)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Job_description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Job_description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.work_tbl.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.work_tbl.Id)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
