@model online_test.Models.Course_tbl

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Course_tbl</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Credit_hr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Credit_hr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Course_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Course_id)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
